.card {
  padding: var(--spacing-4);
  background-color: hsl(0, 0%, 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: var(--bd-rad-xs);
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
}

.card__primary-action {
  cursor: pointer;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__media {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 1 / 1;
}

.card__media--square {
  aspect-ratio: 1 / 1;
}

.card__media--16-9 {
  aspect-ratio: 16/9;
}