@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --spacing-2: 8px;
  --spacing-4: 16px;
  --spacing-8: 32px;

  --bd-rad-xs: 4px;
  --bd-rad-sm: 8px;
  --bd-rad-md: 16px;
  --bd-rad-xl: 32px;

  --box-shadow-1: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --box-shadow-2: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  font-size: 100%;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
}

.btn {
  padding: var(--spacing-2) var(--spacing-8);
  cursor: pointer;
  border-radius: var(--bd-rad-xs);
}

.btn:hover {
  opacity: 0.9;
}

.btn--primary {
  background-color: orange;
  border: 1px solid hsla(0, 2%, 30%, 0.673);
}

.btn--primary-outlined {
  background-color: transparent;
  border-color: rgb(223, 82, 0);
  color: rgb(223, 82, 0);
}

.btn--square {
  padding: 0;
  font-size: 150%;
  height: 36px;
  aspect-ratio: 1 / 1;
}

/* utilities */
.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.flex>* {
  border: 1px solid black;
}

.flex>button {
  display: block;
}

.text-neutral-500 {
  color: rgba(41, 39, 39, 0.989);
}

.fw-700 {
  font-weight: 700;
}

.fs-500 {
  font-size: 1.125rem;
}

.fs-600 {
  font-size: 1.250rem;
}

.fs-700 {
  font-size: 1.5rem;
}

.fs-800 {
  font-size: 2rem;
}

.fs-900 {
  font-size: 2.5rem;
}

.text-overflow-hidden-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
}

.text-overflow-hidden--2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}